---
language: go

go:
  - 1.x
  - master

go_import_path: syreclabs.com/go/faker

before_install:
  - go get github.com/mattn/goveralls

script:
  - $GOPATH/bin/goveralls -service=travis-ci -package .
